<!doctype html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <title>Training | Dailltay</title>
</head>
<body>
    <main layout:fragment="content">
        <section class="section-header">
            <h2>Task List</h2>
            <a th:href="@{/tasks}" class="btn-link">Add new task</a>
        </section>
        <p th:if="${!#strings.isEmpty(successMessage)}">
            <strong th:text="${successMessage}">Task added successfully!</strong>
        </p>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.id}">1</td>
                    <td th:text="${task.title}">Sample Title</td>
                    <td th:text="${task.description}">Sample Description</td>
                    <td th:text="${task.status}">Pending</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>