<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <title>Add task</title>
</head>
<body>
    <main layout:fragment="content">
        <section class="section-header">
            <h2>Create a New Task</h2>
            <a th:href="@{/}" class="btn-link">Back to list</a>
        </section>
        <form th:action="@{/tasks}" th:object="${task}" method="post">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" th:field="*{title}" required>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" th:field="*{description}" required></textarea>
            </div>
            <div>
                <button type="submit">Add Task</button>
            </div>
        </form>
    </main>
</body>
</html>